div#inity {
  background-image: url('../img/divinite.png');
  background-position: top center;
  background-repeat: no-repeat;
  width: 883px;
  height: 773px;
  position: absolute;
  top: -50px;
  left: calc(50% - 442px);
  animation: floaty 5s linear infinite;
}

#bull {
  position: absolute;
  top: 5rem;
  right: 3rem;
  z-index: 2;
  display: none;
  background: url('../img/bubble.png') center center no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  font-family: 'The Girl Next Door', sans-serif;
  font-size: 6rem;
  width: 500px;
  height: 143px;
  line-height: 163px;
  text-align: center;
  color: #2D4F59;
  text-transform: uppercase;
  text-shadow: 0 0 0 #607D8B, 0 0 1rem #2D4F59;
}
#bull > img {
  max-width: 60px;
  max-height: 60px;
}

@keyframes floaty {
  from { transform: translateY(-50px); }
  50% { transform: translateY(0); }
  to { transform: translateY(-50px); }
}