div#inity {
  background-image: url('../img/divinite.png');
  background-position: center -556px;
  background-repeat: no-repeat;
  background-size: auto 227%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  animation: floaty 5s linear infinite;
}

#bull {
  position: absolute;
  z-index: 2;
  display: none;
  background: url('../img/bubble.png') center center no-repeat;
  padding: 1.5rem 3rem;
  font-family: 'Delius Unicase', sans-serif;
  font-size: 4rem;
  min-width: 400px;
  min-height: 200px;
  line-height: 200px;
  text-align: center;
  color: #4e2e1f;

  text-shadow: 0 0 0 rgba(255,255,255,0.5),
               0 0 1rem #000;
}
#bull > img {
  max-width: 50px;
  max-height: 50px;
}

@keyframes floaty {
  from { transform: translateY(0px); }
  50% { transform: translateY(35px); }
  to { transform: translateY(0px); }
}