* {
  box-sizing: border-box;
}

html {
  background-image: url('../img/bg.png');
  -webkit-background-size: contain;
  background-size: contain;
}

body {
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#sablier {
  position: relative;
  width: 120px;
  height: 320px;
  overflow: hidden;
}
#sablier > img.cache {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
#sablier > img.liquid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/* Déco */

#comet1 {
  width: 650px;
  height: 88px;
  background-image: url('../img/comet1.png');
  position: absolute;
  top: 3rem;
  left: -650px;
  animation: cometToRight 15s 8s linear infinite;
}

#comet2 {
  width: 773px;
  height: 162px;
  background-image: url('../img/comet2.png');
  position: absolute;
  top: 50%;
  right: -773px;
  animation: cometToLeft 15s 8s linear infinite;
}

@keyframes cometToRight {
  from { transform: translateX(-650px); }
  to { transform: translateX(2000px); }
}

@keyframes cometToLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-2773px); }
}